.why-us {
    background: #c6d2ba;
    padding: 50px 0;
}
.title-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin: 0 0 0 0;
}
.title-text::after {
    content: '';
    width: 120px;
    height: 5px;
    background: rgb(255, 115, 0);
    left: 0;
    bottom: 0;
    display: block;
}
.btn-regular {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px 20px;
    background: rgba(253, 163, 90, 0.822);
    color: black;
    transition: .5s;
}
.btn-regular:hover {
    background: rgb(255, 115, 0);
    color: white;
}