.contact-header {
    background: url('../../images/contact-us/pexels-bich-tran-669996.jpg');
    padding: 40px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.person-img {
    width: 230px;
    margin-top: 20px;
}
.send-email input, .send-email textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 3px solid rgb(255, 115, 0);
    border-radius: 7px;
    outline: none;
}
.send-email input[submit] {
    background: rgb(255, 115, 0);
}